tools/
bin/
obj/
packages/
externals/
output/

*.xam
*.DS_Store
*.pidb
*.userprefs
*.dotSettings
*.suo
*.a
*.xcuserstate
*.xcuserstate
*.csproj.user
*/nuget/*.targets
!merge.targets
!template.targets

Resource.designer.cs
component.yaml
Details.md
/generated.targets
