tools/
bin/
obj/
packages/
externals/
output/
docs/
.vs/

*.xam
*.DS_Store
*.pidb
*.userprefs
*.dotSettings
*.suo
*.a
*.xcuserstate
*.xcuserstate
*.csproj.user
**/nuget/*.targets
**/nuget/*.nuspec
!merge.targets
!template.targets
!template.nuspec

Resource.designer.cs
component.yaml
Details.md
/generated.targets
*.commit
cake.sh
