<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="Local Output" value="../output" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    
    <!--
        https://docs.microsoft.com/en-us/nuget/consume-packages/package-source-mapping
        Define mappings by adding package patterns beneath the target source.
    -->
    <packageSourceMapping>
        <!-- Get everything possible from the packages we built in this repo -->
        <packageSource key="Local Output">
            <package pattern="*" />
            <package pattern="Xamarin.AndroidX.Security.SecurityCrypto" />
            <package pattern="Xamarin.GoogleAndroid.Annotations" />
        </packageSource>
        
        <!-- Only get explicitly needed packages from nuget.org -->
        <packageSource key="nuget.org">        
            <!-- External packages -->
            <package pattern="Microsoft.Android.Ref.*" />
            <package pattern="Microsoft.Android.Runtime.*" />
            <package pattern="Microsoft.AspNetCore.*" />
            <package pattern="Microsoft.Extensions.*" />
            <package pattern="Microsoft.Graphics.*" />
            <package pattern="Microsoft.IO.*" />
            <package pattern="Microsoft.iOS.*" />
            <package pattern="Microsoft.MacCatalyst.*" />
            <package pattern="Microsoft.Maui.*" />
            <package pattern="Microsoft.NET.*" />
            <package pattern="Microsoft.NETCore.*" />
            <package pattern="Microsoft.Web.*" />
            <package pattern="Microsoft.Windows.*" />
            <package pattern="Microsoft.WindowsAppSDK" />
            <package pattern="Microsoft.WindowsDesktop.*" />
            <package pattern="System.Text*" />

            <!-- Not part of bindings, grab the published version -->
            <package pattern="Xamarin.Build.Download" />
            
            <!-- Need the 9999.0.0 version from NuGet -->
            <package pattern="Xamarin.Google.Guava.ListenableFuture" />
            
            <!-- Need the unstable version from NuGet -->
            <package pattern="Xamarin.AndroidX.Security.SecurityCrypto" />
        </packageSource>
    </packageSourceMapping>
    
    <config>
        <add key="globalPackagesFolder" value="../packages" />
    </config>
</configuration>